//
PORT=4000
APP_NAME=web quan ao
MONGODB_URL=
NODE_ENV=development
CLIENT_URL=http://localhost:3000
JWT_SECRET=
REFRESH_SECRET=
TMN_CODE=
SECURE_SECRET=
EMAIL=
MJ_APIKEY=
MJ_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=
SMTP_PORT=