NODE_ENV=development
PORT=4000
APP_NAME=web quan ao

CLIENT_URL=http://localhost:3000

MONGODB_URL=

# ===== Auth =====
JWT_SECRET=
REFRESH_SECRET=

TMN_CODE=
SECURE_SECRET=

EMAIL=
MJ_APIKEY=
MJ_SECRET_KEY=
SMTP_HOST=
SMTP_PORT=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
